@use "./Elements-Mixins/buttons-mixin.scss" as button;
p{
    font-size: 1.6rem;
    font-weight: 300; 
    line-height: 1.4;
    
}

a {
    text-decoration: none;
    color: inherit;
}

li{
    position: relative;
    width: fit-content;
    list-style-position: inside;
}

#loader{
    & >div{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 6;
    }
}

.btn-primary{
}

.btn-secondary{
    @include button.btn(var(--step--2),1.5rem,var(--bg-teal-primary),var(--color-primary))
}