@import url("./components/SCSS/helpers.scss");
@import url("./components/SCSS/elements.scss");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: 93.75em) {
    font-size: 56.25%;
  }

  @media (max-width: 75em) {
    font-size: 50%;
  }

  @media (max-width: 56.25em) {
    font-size: 43.75%;
  }

  @media (max-width: 37.5em) {
    font-size: 37.5%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
  padding: 3rem 1rem 1rem 1rem;
  background-image: var(--bg-dark-primary);
  line-height: 1.1;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--color-primary-light);
  overflow: hidden;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    height: 100%;
    z-index: -5;
  }

  &::after {
    left: 0;
    background: var(--bg-teal-primary);
  }

  &::before {
    right: 0;
    background: linear-gradient(to right top, #3d3d3d, #343434, #2b2b2b, #222222, #1a1a1a, #181818, #161616, #141414, #181818, #1c1c1c, #212121, #252525);
  }

  & #root {
    height: 100%;
    position: relative;
  }

}