.projects-section{
    width: 100%;
    // min-height: 70vh;
    // height: 100%;
    flex: 0 0 100%;
    // background: var(--bg-dark-primary);

    & .projects{
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: repeat(3,1fr);
        gap: 5rem;
        row-gap: 7rem;
        place-content: center;
        // align-items: ;
        justify-items: center;
        justify-content: space-evenly;
    }

}